<h1>Chat window</h1>

<div class="chat-container">
  <div class="group-chat">
    <ul class="chat">
    </ul>
  </div>

  <%= form_for Message.new, remote: true do |f| %>
    <%= f.text_field :content %>
    <%= f.submit 'Enviar' %>
  <% end %>
</div>

<%#= render @messages %>

<script type="text/javascript">
  $(function() {

    function request() {

      var $url = "<%= messages_list_path %>.json";

      $.ajax($url, {
        success: function(data) {
          // console.log(data);

          var messages = [];

          $.each(data, function( key, val ) {
            messages.push( "<li id='" + key + "'>" + val.content + "</li>" );
          });

          $('.chat').html(messages)

        },
        error: function() {
          console.log('Ocorreu um erro');
        }
      });

      setTimeout(request, 1000);
    }

    request();

    setTimeout(function(){
      $('.chat').scrollTop($('.chat')[0].scrollHeight);
    }, 100);

  });
</script>