$color-base   : #888888;

// Color Gray - light to dark
$color-gray-a : #AAAAAA;
$color-gray-b : #999999;
$color-gray-c : #777777;
$color-gray-d : #555555;
$color-gray-e : #333333;

$light-gray-a : #F1F2F5;
$light-gray-b : #D1D7D8;

// Colored
$color-red    : #FF7E75;
$color-green  : #00C49D;
$color-blue   : #459FC7;
$color-white  : #FFFFFF;
$color-yellow : #FFDD6B;

// Backgrounds
@mixin background-red { background: $color-red; }
@mixin background-orange { background: #FBA785; }
@mixin background-green { background: $color-green; }
@mixin background-yellow { background: $color-yellow; }

// Fonte aliased
@mixin fonte-aliased {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@mixin box-shadow($pixelsV, $pixelsH, $blur, $color) {
  -moz-box-shadow: $pixelsV $pixelsH $blur $color;
  -webkit-box-shadow: $pixelsV $pixelsH $blur $color;
  box-shadow: $pixelsV $pixelsH $blur $color;
}

@mixin box-shadow-inset($pixelsV, $pixelsH, $blur, $color) {
  -moz-box-shadow: inset $pixelsV $pixelsH $blur $color;
  -webkit-box-shadow: inset $pixelsV $pixelsH $blur $color;
  box-shadow: inset $pixelsV $pixelsH $blur $color;
}

@mixin box-shadow-small {
  -moz-box-shadow: 0 1px 2px rgba(0,0,0,.09);
  -webkit-box-shadow: 0 1px 2px, rgba(0,0,0,.09);
  box-shadow: 0 1px 2px rgba(0,0,0,.09);
}

@mixin no-shadow {
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}

@mixin no-appearance {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  appearance: none;
}

@mixin opacity {
  opacity: 0;
  -moz-opacity: 0;
  filter: alpha(opacity=00);
  -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=00)";
}

@mixin opacity-5 {
  opacity: 0.05;
  -moz-opacity: 0.05;
  filter: alpha(opacity=5);
  -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=5)";
}

@mixin opacity-10 {
  opacity: 0.1;
  -moz-opacity: 0.1;
  filter: alpha(opacity=10);
  -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=10)";
}

@mixin opacity-25 {
  opacity: 0.25;
  -moz-opacity: 0.25;
  filter: alpha(opacity=25);
  -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=25)";
}

@mixin opacity-30 {
  opacity: 0.3;
  -moz-opacity: 0.3;
  filter: alpha(opacity=30);
  -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=30)";
}

@mixin opacity-35 {
  opacity: 0.35;
  -moz-opacity: 0.35;
  filter: alpha(opacity=35);
  -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=35)";
}

@mixin opacity-40 {
  opacity: 0.4;
  -moz-opacity: 0.4;
  filter: alpha(opacity=40);
  -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=40)";
}

@mixin opacity-50 {
  opacity: 0.5;
  -moz-opacity: 0.5;
  filter: alpha(opacity=50);
  -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
}

@mixin opacity-60 {
  opacity: 0.6;
  -moz-opacity: 0.6;
  filter: alpha(opacity=60);
  -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=60)";
}

@mixin opacity-70 {
  opacity: 0.7;
  -moz-opacity: 0.7;
  filter: alpha(opacity=70);
  -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=70)";
}

@mixin opacity-75 {
  opacity: 0.75;
  -moz-opacity: 0.75;
  filter: alpha(opacity=75);
  -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=75)";
}

@mixin opacity-80 {
  opacity: 0.8;
  -moz-opacity: 0.8;
  filter: alpha(opacity=80);
  -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
}

@mixin opacity-90 {
  opacity: 0.9;
  -moz-opacity: 0.9;
  filter: alpha(opacity=90);
  -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=90)";
}

@mixin opacity-95 {
  opacity: 0.95;
  -moz-opacity: 0.95;
  filter: alpha(opacity=95);
  -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=90)";
}

@mixin no-opacity {
  opacity: 1;
  -moz-opacity: 1;
  filter: alpha(opacity=100);
  -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
}

@mixin no-transiction {
  -moz-transition: none;
  -webkit-transition: none;
  -o-transition: color 0 ease-in;
  transition: none;
}

@mixin transiction {
  -webkit-transition: all 0.15s ease-out 0s;
  -moz-transition: all 0.15s ease-out 0s;
  -o-transition: all 0.15s ease-out 0s;
  transition: all 0.15s ease-out 0s;
}

@mixin transiction-delay {
  -webkit-transition: all 0.50s ease-out 0s;
  -moz-transition: all 0.50s ease-out 0s;
  -o-transition: all 0.50s ease-out 0s;
  transition: all 0.50s ease-out 0s;
}

@mixin transiction-slow {
  -webkit-transition: all 1.2s ease-out 0s;
  -moz-transition: all 1.2s ease-out 0s;
  -o-transition: all 1.2s ease-out 0s;
  transition: all 1.2s ease-out 0s;
}

@mixin custon-transiction($transictions) {
  -webkit-transition: all $transictions ease-out 0s;
  -moz-transition: all $transictions ease-out 0s;
  -o-transition: all $transictions ease-out 0s;
  transition: all $transictions ease-out 0s;
}

@mixin rounder($pixels) {
  -moz-border-radius: $pixels;
  -webkit-border-radius: $pixels;
  border-radius: $pixels;
}

@mixin no-rounder {
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  border-radius: 0;
}

@mixin round-top($pixels) {
  -moz-border-radius-topleft: $pixels;
  -moz-border-radius-topright: $pixels;
  -webkit-border-top-left-radius: $pixels;
  -webkit-border-top-right-radius: $pixels;
  border-top-left-radius: $pixels;
  border-top-right-radius: $pixels;
}

@mixin round-top-left($pixels) {
  -moz-border-radius-topleft: $pixels;
  -webkit-border-top-left-radius: $pixels;
  border-top-left-radius: $pixels;
}

@mixin rounder-left($pixels) {
  -moz-border-radius-topleft: $pixels;
  -webkit-border-top-left-radius: $pixels;
  border-top-left-radius: $pixels;
  -moz-border-radius-bottomleft: $pixels;
  -webkit-border-bottom-left-radius: $pixels;
  border-bottom-left-radius: $pixels;
}

@mixin rounder-right($pixels) {
  -moz-border-radius-topright: $pixels;
  -webkit-border-top-right-radius: $pixels;
  border-top-right-radius: $pixels;
  -moz-border-radius-bottomright: $pixels;
  -webkit-border-bottom-right-radius: $pixels;
  border-bottom-right-radius: $pixels;
}

@mixin round-top-right($pixels) {
  -moz-border-radius-topright: $pixels;
  -webkit-border-top-right-radius: $pixels;
  border-top-right-radius: $pixels;
}

@mixin round-bottom($pixels) {
  -moz-border-radius-bottomleft: $pixels;
  -moz-border-radius-bottomright: $pixels;
  -webkit-border-bottom-left-radius: $pixels;
  -webkit-border-bottom-right-radius: $pixels;
  border-bottom-left-radius: $pixels;
  border-bottom-right-radius: $pixels;
}

@mixin no-transiction {
  -webkit-transition: 0s;
  -moz-transition: 0s;
  -o-transition: 0s;
  transition: 0s;
}

@mixin truncate($width) {
  overflow: hidden;
  text-overflow: ellipsis;
  display: inline-block;
  width: $width;
  white-space: nowrap;
}

@mixin size-input ($sizewidth) {
  input[type="password"],
  input[type="date"],
  input[type="file"],
  input[type="email"],
  input[type="text"],
  select,
  textarea { width: $sizewidth; }
}

@mixin placeholder-color($color) {
  &::-webkit-input-placeholder { color: $color; }
  &::-moz-placeholder { color: $color; }
  &:-ms-input-placeholder { color: $color; }
  &:-moz-placeholder { color: $color; }
  line-height: 20px;
}

@mixin black-and-white {
  -webkit-filter: grayscale(100%);
  -moz-filter: grayscale(100%);
  -ms-filter: grayscale(100%);
  -o-filter: grayscale(100%);
  filter: grayscale(100%);
  filter: gray; /* IE 6-9 */
}

//Animation bottom to top in cycle
@-webkit-keyframes top-to-bottom {
  0% { top: -13px; }
  100% { top: 7px; }
}

//Animation left to right in cycle
@-webkit-keyframes left-to-right {
  0% { left: -5px; }
  100% { left: 5px; }
}

@-webkit-keyframes piscar {
  0% {
    height: 6px;
    top: 0;
  }
  97% {
    height: 6px;
    top: 0;
  }
  100% {
    height: 1px;
    top: 3px;
  }
}

@mixin color-link {
  color: #409EC9;
  @include transiction;

  &:hover { color: #367C9C; }
}

@mixin clearfix {
  display: block;

  &:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
  }

  * html & { height: 1px }
}