body.webinars-show {

  .main {
    float: left;
    background: red;
    height: 100%;
    width: 100%;
    padding-right: 300px;
    position: relative;
    z-index: 1;

    .overlay {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: 2;
      background: transparent;
    }

    .video {
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      padding-right: 300px;
      width: 100%;
      height: 100%;
      z-index: 1;
    }

  }

  .side-bar {
    position: fixed;
    right: 0;
    top: 0;
    padding-top: 60px;
    width: 300px;
    height: 100%;
    background: lime;
    z-index: 2;
  }

}