<div class="main" data-main>
  <iframe class="video" frameborder="0" allowfullscreen="1" src="https://www.youtube.com/embed/Ti802LgPRkE?autoplay=0&amp;controls=0&amp;rel=0&amp;showinfo=0&amp;autohide=1&amp;hd=1&amp;modestbranding=0"></iframe>
  <div class="overlay"></div>
</div>

<aside class="side-bar" data-sidebar>
  <div class="chat-container">

    <ul class="chat">
    </ul>

    <% if username != 'Anonimo' %>

      <%= form_for [@post, Message.new], remote: true do |f| %>
        <%= f.text_field :content, placeholder: 'Conteudo' %>
        <%= f.submit 'Enviar', class: 'button' %>
      <% end %>

    <% else %>

      <%= form_tag request.path, method: :get do %>
        <%= text_field_tag :username, '', placeholder: 'Username' %>
        <%= submit_tag 'Enviar', class: 'button' %>
      <% end %>

    <% end %>

  </div>
</aside>

<script type="text/javascript">
  $(function() {

    function request() {

      var $url = "<%= post_messages_path(@post, format: :json) %>";

      $.ajax($url, {
        success: function(data) {
          // console.log(data);

          var messages = [];

          $.each(data, function( key, val ) {
            messages.push( "<li id='" + key + "'><span>" + val.username + "</span> - " + val.content + "</li>" );
          });

          $('.chat').html(messages)

        },
        error: function() {
          console.log('Ocorreu um erro');
        }
      });

      // setTimeout(request, 1000);
    }

    request();

    setTimeout(function(){
      $('.chat').scrollTop($('.chat')[0].scrollHeight);
    }, 100);

    // $('.button').on('click', function(e){
    //   if(!$('#message_content').val()) {
    //     alert('O campo não pode estar vazio');
    //     return false;
    //   }
    // });

  });
</script>