.chat-container {
  height: 100%;

  .chat {
    background: orange;
    overflow: auto;
    height: 80%;

    li {
      margin: 5px;
      padding: 5px 10px;
      @include rounder(5px);
      border: 1px solid #000;
    }
  }
  form {
    height: 20%;
    background: pink;
    position: relative;
  }
}