.drop-down {
  position: relative;

  .drop-down-box {
    display: none;
    position: absolute;
    left: -45px;
    top: 21px;
    background: #FFF;
    width: 135px;
    @include box-shadow(1px, 1px, 6px, rgba(0,0,0,0.20));
    z-index: 2;
    @include rounder(2px);

    > ul {
      padding: 15px;

      li {
        margin-bottom: 3px;

        a {
          display: block;
          @include transiction;
          text-align: center;
          color: #999999;

          &:hover { color: #409EC9; }
        }
        &:last-child { margin-bottom: 0; }
      }
    }

    &:before {
      background: image-url('admin/bg-arrow.png') no-repeat;
      content: '';
      width: 14px;
      height: 7px;
      float: left;
      display: block;
      position: absolute;
      top: -7px;
      left: 50%;
      margin-left: -7px;
    }
  }

}