.flash {
  background: #fff;
  width: 290px;
  display: block;
  position: fixed;
  top: 50%;
  margin-top: -33px;
  right: -290px;
  right: 0;
  z-index: 100000;
  @include box-shadow(0,1px,2px,rgba(0,0,0,0.09));

  &.alert-info span { background-color: #FFDD6B; }
  &.alert-error span {
    background-color: #FF9897;

    i {
      &:before {
        content: "\f00d";
      }
    }
  }
  &.alert-success span { background-color: #3FCB80; }

  span {
    padding: 16px 18px 15px;
    float: left;

    i {
      color: #FFF;
      font-size: 40px;
    }
  }

  div {
    display: table;
    height: 71px;

    p {
      display: table-cell;
      font-size: 14px;
      line-height: 18px;
      color: #AAA;
      padding: 0 15px;
      width: 187px;
      vertical-align: middle;
    }
  }

}