<!DOCTYPE html>
<html lang="pt-BR" dir="ltr">
  <head>

    <title>Webinário Organizze</title>

    <!-- CSS -->
    <%= stylesheet_link_tag    'index', media: 'all', 'data-turbolinks-track' => true %>

    <!-- JS -->
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>

    <%= csrf_meta_tags %>

  </head>

  <body class='site webinars-show'>

    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>

    <!-- Header -->
    <header class="header" data-header>
      <div class="row">

        <div class="col-md-2 col-xs-2 left">
          <a href="/">
            <h1>Webinário Organizze</h1>
          </a>
        </div>

        <div class="col-xs-8 center">
          <nav class="navigation">
            <ul>
              <li><a href="#">Análise</a></li>
            </ul>
          </nav>
        </div>

        <div class="col-xs-2 right">
          <div class="settings">
            <ul>
              <li><a href="#">Configurações</a></li>
              <li><a href="#">Sair</a></li>
            </ul>
          </div>
        </div>

      </div>
    </header>

    <!-- Conteúdo -->
    <section class="content" data-content>
      <%= yield %>
    </section>

  </body>
</html>
